<div class="container my-3">
  <div class="row border border-dark rounded bg-light shadow p-4 my-3 mx-auto">
    <div class="col-3">
      <img class="w-50 h-80" src="<%= @user.photo =%>" />
    </div>
    <div class="col-9 position-relative">
      <h3><%= @user.name =%></h3>
      <p class="position-absolute bottom-0 end-0 text-decoration-none mb-0">Number of posts: <%= @user.post_counter =%></p>
    </div>
  </div>
  <article class="border-dark rounded bg-light shadow p-4 my-3">
    <h5>Bio</h5>
    <p><%= @user.bio =%></p>
  </article>

  <% @posts.each do |post| %>
    <article class="border-dark rounded bg-light shadow p-4 my-3">
      <a class="fs-5 fw-bold text-dark text-decoration-none" role="button" href="<%= user_post_path(@user, post) =%>"><%= post.title =%></a>
      <p><%= post.text =%></p>
      <div class="d-flex justify-content-end">
        <p class="mb-0">Comments: <%= post.comment_counter =%>, Likes: <%= post.like_counter =%></p>
      </div>
      <%= render partial: 'shared/comments', locals: { post: post } %>
    </article>
  <% end %>
  <div class="d-flex justify-content-center">
  <button class="btn btn-outline-light w-25" type="button">Pagination</button>
  </div>
</div>